* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'alkatra';
    src: url(./fonts/alkatra/alkatra-variablefont_wght-webfont.woff2) format('woff2'),
         url(./fonts/alkatra/alkatra-variablefont_wght-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

#banner-text {
    font-family: 'alkatra';
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

body {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
}

#left-content {
    flex: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right-content {
    flex: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skelly {
    height: 100px;
}