* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

@font-face {
    font-family: 'alkatra';
    src: url(./fonts/alkatra/alkatra-variablefont_wght-webfont.woff2) format('woff2'),
         url(./fonts/alkatra/alkatra-variablefont_wght-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

#banner-text {
    font-family: 'alkatra';
    font-size: 4rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
    user-select: none;
}

body {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;

    font-family: sans-serif;
}

#left-content {
    flex: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(./skelly.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#right-content {
    flex: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #BFBDB0;
}

#skelly {
    height: 100px;
}

#image-credit {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    
    position: absolute;
    bottom: 0px;

    padding: 8px;
}

#image-credit > a {
    color: rgb(255, 255, 255);
}

.mid-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: grey;
    width: 100%;

    margin: 32px 0px;
    padding: 32px 0px;
}

#sign-up-form {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#inputs-1, #inputs-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mid-section > p {
    margin-bottom: 32px;
    font-size: 1.8rem;
    font-weight: bolder;
    font-family: 'alkatra';
}